/* @media(max-width:820px)
{
    #home1 img
    {
        width:400px;
        height:300;
    } 
    #home1 div
    {
        padding-left:2
    }  
}
#home1 img
{
    width:450px;
    height:300px;
} */